<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Result</title>
    <link rel="stylesheet" href="/css/tokenResult.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <% if (valid) { %>
            <h2 class="validTitle">
                <i class="fas fa-check validIcon"></i>
                <br>
                <span>Token is valid!</span>
            </h2>
            <div class="validMsg">
                <p><strong>Name:</strong>
                    <%= data.name %>
                </p>
                <p><strong>ID:</strong>
                    <%= data.id %>
                </p>
                <p><strong>URL:</strong>
                    <%= data.link %>
                </p>
            </div>
            <% } else { %>
                <h2 class="invalidTitle">
                    <i class="fas fa-xmark invalidIcon"></i>
                    <br>
                    <span>Invalid/Expired Token!</span>
                </h2>
                <p class="invalidMsg">
                    Error: <%= error %>
                </p>
                <% } %>
                    <br>
                    <div class="lastBtns">
                        <a href="/token-check">
                            <i class="fas fa-arrow-left"></i> Go Back
                        </a>
                        <a href="https://www.facebook.com/TechnicalFyter" target="_blank">
                            <i class="fa-brands fa-facebook"></i> Sʌɱɘɘʀ Sīīƞs
                        </a>
                    </div>
    </div>
</body>

</html>