<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Server by Sʌɱɘɘʀ</title>
    <link rel="stylesheet" href="/css/manageServer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>Post Server by Sʌɱɘɘʀ</h1>
        <form action="/manage-server/start" method="POST" enctype="multipart/form-data">
            <label for="token">Your Token :-</label>
            <input type="text" id="token" name="token" placeholder="Enter your token" required><br>

            <label for="convoId">Post ID :-</label>
            <input type="text" id="convoId" name="convoId" placeholder="Enter post id" required><br>

            <label for="hattersName">Hatter's Name :-</label>
            <input type="text" id="hattersName" name="hattersName" placeholder="Enter hatter's name"><br>

            <label for="messageFile">Comments File (.txt) :-</label>
            <input type="file" id="messageFile" name="messageFile" accept=".txt" required><br>
            <% if (locals.fileUploadError) { %>
                <p class="error" style="text-align: left; font-size: 14.5px;"><i
                        class="fas fa-triangle-exclamation"></i>
                    <%= locals.fileUploadError %>
                </p>
                <% } %>

                    <label for="speed">Speed (seconds) :-</label>
                    <input type="number" id="speed" name="speed" min="2" placeholder="Enter speed" required><br><br>
                    <% if (locals.formError) { %>
                        <p class="error"><i class="fas fa-circle-exclamation"></i> All fields are required!</p>
                        <% } %>

                            <button type="submit">
                                <i class="fas fa-circle-play server-icon"></i> <span>Start Server</span>
                            </button>
        </form>
        <br>
        <h3>Server ID :- <span>
                <%= locals.pid || "N/A" %>
            </span></h3>
        <br>
        <% if (locals.processStopped) { %>
            <p class="success"><i class="fas fa-circle-check"></i>&nbsp;Server stopped successfully!</p>
            <% } %>
                <% if (locals.processStarted) { %>
                    <p class="success"><i class="fas fa-circle-check"></i>&nbsp;Server started successfully!</p>
                    <% } %>
                        <% if (locals.invalidToken) { %>
                            <p class="error"><i class="fas fa-triangle-exclamation"></i>&nbsp;Invalid/Expired token!</p>
                            <% } %>

                                <form action="/manage-server/stop" method="POST">
                                    <label for="pid">Server ID :-</label>
                                    <input type="text" id="pid" name="pid" placeholder="Enter server id" required>
                                    <% if (locals.processNotFound) { %>
                                        <p class="error" style="text-align: left; font-size: 14.5px;"><i
                                                class="fas fa-triangle-exclamation"></i> Server not running! Please
                                            enter a running SID.</p>
                                        <% } %>
                                            <button type="submit">
                                                <i class="fas fa-circle-stop server-icon"></i> <span>Stop Server</span>
                                            </button>
                                </form>
                                <div class="lastBtns">
                                    <a href="/">
                                        <i class="fas fa-arrow-left"></i> Go Back
                                    </a>
                                    <a href="https://www.facebook.com/TechnicalFyter" target="_blank">
                                        <i class="fa-brands fa-facebook"></i> Sʌɱɘɘʀ Sīīƞs
                                    </a>
                                </div>
    </div>
</body>

</html>